.taskLog {
  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 5px;
    border-bottom: 1px solid #e0e0e0;
    box-shadow: 1px 1px 5px #ccc;
    margin: 10px 0;
    border-radius: 10px;
    position: relative;
    .left,
    .right {
      padding: 0 15px;
    }
    .time {
      font-size: 15px;
      color: #e0e0e0;
    }
    .right{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        span{
            color: red;
            padding: 10px 0;
        }
        .content{
            font-size: 16px;
            font-weight: 600;
        }
    }

    .user {
      display: flex;
      align-items: center;
      padding: 10px 0;
      .name {
        padding-left: 5px;
        font-weight: 550;
      }
    }
    .status{
      position: absolute;
      right: -12px;
      top: -10px;
      background-color: #4caf50;
      padding: 5px;
      border-radius: 8px;
      color: #fff;
      opacity: .9;
      box-shadow: 1px 1px 5px #ccc ;
    }
    .not-status{
      background-color: #f44336;
    }
  }
}
